@charset "UTF-8";

/*==============================================================================
 ___  _   _    _
/   || | | |  | |
\__  | | | |  | |  __
/    |/  |/_) |/  /  \_/\/
\___/|__/| \_/|__/\__/  /\_/
              |\
              |/
Focus v1.5
https://github.com/Elkfox/Focus
Copyright (c) 2018 Elkfox Co Pty Ltd
https://elkfox.com
Project lead: George Butter
MIT License
==============================================================================*/

.popup {
  position: fixed;
  z-index: 9996;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.popup.visible {
  opacity: 1;
  visibility: visible;
}
.popup .popup-content {
  display: inline-block;
  z-index: 9999;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 20px;
  background-color: #fff;
  cursor: default;
  color: #000;
}
.popup.overlay {
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.popup.overlay .popup-outside {
  position: absolute;
  z-index: 9998;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.popup.overlay .popup-inner {
  -webkit-backface-visibility: hidden;
  cursor: pointer;
  z-index: 9997;
  text-align: initial;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(25px);
  -moz-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.popup.overlay .popup-inner .popup-content {
  position: relative;
}
.popup.overlay.visible .popup-inner {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.popup .popup-close {
  display: block;
  position: absolute;
  top: 0px;
  right: 2px;
}
