<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  <title>Tic Tac Toe - 5X5 with big Board Size</title>
	  <meta name="description" content="Play the Tic-Tac-Toe 5X5 game for free online with Computer or with Friend.">
    <meta name = "keywords" content = "Tic-Tac-Toe ,classic Tic-Tac-Toe,5X5 Tic-Tac-Toe,play Tic-Tac-Toe online free,play Tic-Tac-Toe with Computer,Tic-Tac-Toe 5x5,board game, board game 5x5 Tic-Tac-Toe,tic tac toe" />

		<meta name="author" content="Yogesh Saini">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
		<meta name="referrer" content="origin">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="Tic-Tac-Toe 5X5">
		<meta name="application-name" content="Tic-Tac-Toe 5x5">
		<meta name="msapplication-tooltip" content="Tic-Tac-Toe 5x5">
		<meta name="msapplication-starturl" content="http://tic.yogy.in/">
		<meta name="msapplication-TileImage" content="http://tic.yogy.in/tic.png">
		<meta name="msapplication-TileColor" content="Green">
		<meta name="msapplication-navbutton-color" content="Green">
		<meta name="theme-color" content="Green">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://tic.yogy.in/">
		<meta property="og:site_name" content="Tic-Tac-Toe">
		<meta property="og:title" content="Tic-Tac-Toe - Play 5x5 Tic-Tac-Toe online for free">
		<meta property="og:description" content="Play the 5x5 Tic-Tac-Toe game for free online with Computer or Friend.">
		<meta property="og:image" content="http://tic.yogy.in/tic.png">
		<meta name="twitter:card" content="Yogesh saini">
		<meta name="twitter:site" content="@ysaini4">
		<meta name="twitter:title" content="Tic-Tac-Toe">
		<meta name="twitter:description" content="Play the 5x5 Tic-Tac-Toe game for free online with Computer or Friend.">
		<meta name="twitter:image" content="http://tic.yogy.in/tic.png">
	  <link href="bootstrap.min.css" rel="stylesheet">
	  <script src="angular.min.js"></script>
	  <link href="style.css" rel="stylesheet">
<!-- particles_custom -->
	<link rel="stylesheet" href="css/particles_custom.css">
<!-- particles_custom -->
	
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/popup.css">
	<style type="text/css">
	.back-link a {
		color: #4ca340;
		text-decoration: none; 
		border-bottom: 1px #4ca340 solid;
	}
	.back-link a:hover,
	.back-link a:focus {
		color: #408536; 
		text-decoration: none;
		border-bottom: 1px #408536 solid;
	}
	h1 {
		height: 100%;
		/* The html and body elements cannot have any padding or margin. */
		margin: 0;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		font-size: 32px;
		margin-bottom: 3px;
	}
	.entry-header {
		text-align: left;
		margin: 0 auto 50px auto;
		width: 80%;
        max-width: 978px;
		position: relative;
		z-index: 10001;
	}
	#demo-content {
		padding-top: 100px;
	}
	</style>
	<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib --> 
<!-- 	  <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
 -->	</head>
	<body ng-app="tictactoe" ng-controller="MainCtrl" id="particles-js">
	  <script src="js/particles_custom.js"></script>
	
		<!-- <div class="row header">
			<div class="col-md-3">
				<img src='tic.png' class='logo' />
				
			</div>
		</div> -->
			<div >

	
		<!-- <div id="loader-wrapper">
			<div id="loader">
			<p class="myloader" style="margin-left:27px">Yogy</p>
			<p class="myloader" style="margin-left:10px">Games</p>


			</div>

			<div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>

		</div> -->



	</div>
		<div >
			<div class="row headline" id='topheader'>
				<div >
				<div class="col-md-12"  >

					<!-- pop up -->
					<a data-trigger="popup" data-target="#examplePopup">How to play?</a>
				    
				    <div class="popup overlay" id="examplePopup">
				      <div class="popup-inner">
				        <div class="popup-content left">
				        <img src="winrule.png" style="max-height: 100%;max-width: 100%">	

				          <a class="popup-close" data-close aria-label="Close popup">Close</a>
				        </div>
				      </div>
				    </div>
				<!-- pop up -->

				</div>
				<div class="col-md-12"  >
					<input type="text" ng-model='username' ng-show="isuser == false"  class="button" placeholder="Enter Your Name."/>
					<input type="text" ng-model='roomid'  class="button" placeholder="Enter friend's room id." ng-show="isuser && !op_online"/>
					<!-- <input type="button" ng-click="changeroom()" value="Change Room" class="button" ng-show="isuser"/> -->
					<input type="button" ng-click="restartgame1()" value="Restart" class="button" />
					<p placeholder="Enter Your Name." ng-show="isuser">Hello {{username}}. 
						<span ng-show="isuser && !op_online"> Your room id is - {{roomid_r}}. For play online with your friend share your room id with him or enter frined's room id</span>
						
					</p>
					</div>
				<div class="col-md-12"  >	
					<span ng-show="(p1queue.length==0 && p2queue.length==0) && !op_online" class="squaredOne" ><input type="checkbox" class="plywithbtn" ng-model="withyogy" ng-click="playwith()"  id="squaredOne" />
					<label for="squaredOne"></label></span><span ng-show="(p1queue.length==0 && p2queue.length==0) && !op_online">&nbsp; Play With Computer</span>
					<span ng-show="(p1queue.length!=0 || p2queue.length!=0) && withyogy">Playing With Computer...</span>
					<!-- <span ng-show="p1queue.length!=0 && !withyogy">Playing With Friend...</span> -->
					<span ng-show="isuser && op_online && (p1queue.length==0 && p2queue.length==0)">{{starting_msg}}</span>
					<span ng-show="(p1queue.length!=0 || p2queue.length!=0)">{{playerturnmsg}}{{result}}</span>
				</div>
			</div>
			</div>
			<div class="row" style="padding-right:0" >
				<div >
					<div class="row">
						<div class="col-md-12" style="padding-right:0">
							<table class="table">
								<tr ng-repeat="boardrows in board">
									<td ng-repeat="boardcols in boardrows">
										<div class="checkboxFour"> 
											<input id="{{boardcols}}" type="checkbox" ng-click="playeraction(boardcols)" ng-model="boardcol[boardcols]" ng-disabled="boardcol[boardcols]" />
											<label ng-class="{
											'p1':p1queue.indexOf(boardcols)!=-1,
											'p2':p2queue.indexOf(boardcols)!=-1,
											'remain':remaincells.indexOf(boardcols)!=-1
											}"  
											for="{{boardcols}}"></label>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>	
				</div>
			</div>
		</div>
		
	  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
	  <script src="https://yogy-tic-tac-toe-server.herokuapp.com/socket.io/socket.io.js"></script>
	  <script src="app.js"></script>
	  <script src="js/focus.js"></script>
	<script src="js/main.js"></script>
	</body>
</html>
