table {
    border-collapse: collapse;

}
table, td, th {
    border:1px solid rgba(255, 255, 255, 0.22) !important;
}
.table{
        margin-bottom: 0;

}
.table > tbody > tr > td{
	padding: 0px;
  height: 35px
}
.checkboxFour {
  	width: 100%;
  	height: 100%;
  	/*background: #ddd;*/
  	border-radius: 100%;
  	position: relative;
 	
}
.row{
  margin: 0 0 0 -7px;
}
.checkboxFour label {
  	display: block;
  	width: 100%;
  	height: 100%;
  	-webkit-transition: all .2s ease;
 	-moz-transition: all .2s ease;
 	-o-transition: all .2s ease;
    -ms-transition: all .2s ease;
  	transition: all .2s ease;
  	cursor: pointer;
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	z-index: 1;
  	/*background: #1b5422;*/
    
}
.checkboxFour input[type=checkbox]  {
  	margin: 17px 5px 0;
    display: none;
}
.checkboxFour input[type=checkbox]:checked + .p1 {
	background: #4CAF50;
}
.checkboxFour input[type=checkbox]:checked + .p2 {
	background: #ff0000;
}
.checkboxFour input[type=checkbox]:checked + .remain {
	background: rgba(215, 221, 226, 0.15);
}
body{
  background-color: #9E3B33;
}
.headline {
   
    /*background-image: url("tic.png");*/
    background-repeat: no-repeat;
    height: 148px;
    color: #e4285d;
    font-size: 17px;
    padding-top: 7px;
    padding-left: 27px;
    text-align: right;
    font-weight: bold;



}
.headline2{
padding-top: 26px;

}
.logo{
  height: 7%;
  width: 30%;
  margin: 10px 0px 0px 10px;

}
.header{
   background-image:url("tic.png");
   background-repeat: no-repeat; 
   margin: 0;
 }

 .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/* checkbox squre  */

.plywithbtn{
  visibility: hidden;
}
.squaredOne {

  width: 28px;
  height: 28px;
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  margin: 20px auto;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  position: relative;
}

.squaredOne label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  max-width: 200%;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
  background: linear-gradient(top, #222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredOne label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #00bf00;

  background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: linear-gradient(top, #00bf00 0%, #009400 100%);

  top: 2px;
  left: 2px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.squaredOne input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
/* checkbox squre  */

 

